{% extends "master.html" %}

{% block title %}All Meter Readings{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

{% include "admin_nav.html" %}

<div class="container mt-3">
    <h1 class="text-center mb-5">All Meter Readings</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Reading Date</th>
                <th>User ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meter_reading in meter_readings %}
            <tr>
                <td>{{ meter_reading.date }}</td>
                <td>{{ meter_reading.customer_id }}</td>
                <td>{{ meter_reading.user.email }}</td>
                <td>
                    <a href="{{ url_for('admin_view_meter_readings', meter_reading_id=meter_reading.id) }}"
                        class="btn btn-secondary btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}