{% extends 'master.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger mt-3" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'admin_nav.html' %}
        </div>
    </div>
    <h1 class="text-center">iGES Admin Dashboard</h1>
    <div class="row mt-5">
        <div class="col-md-2 bg-light">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('set_tariffs') }}">
                            <i class="fas fa-money-bill-alt"></i>
                            Set Tariffs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_view_meter_readings') }}">
                            <i class="fas fa-tachometer-alt"></i>
                            View Meter Reading
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_view_bills') }}">
                            <i class="fas fa-file-invoice"></i>
                            View Bills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_energy_statistics') }}">
                            <i class="fas fa-chart-bar"></i>
                            View Statistics
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card mt-3">
                <div class="card-body">
                    <h3 class="text-center text-secondary">Average Energy Cost</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}