<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All meter Readings</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <h1>All meter Readings</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('admin_dashboard') }}">Back to admin home</a>
    <table class="table">
        <thead>
            <tr>
                <th>Reading Date</th>
                <th>User ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meter_reading in meter_readings %}
            <tr>
                <td>{{ meter_reading.date }}</td>
                <td>{{ meter_reading.customer_id }}</td>
                <td>{{ meter_reading.user.email }}</td>
                <td>
                    <a href="{{ url_for('admin_view_meter_readings', meter_reading_id=meter_reading.id) }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>