<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <h1>Profile page</h1>
    <p>Welcome, {{ current_user.email }}</p>
    <p>Address: {{ current_user.address }}</p>
    <p>Property Type: {{ current_user.property_type }}</p>
    <p>Number of Bedrooms: {{ current_user.num_bedrooms }}</p>
    <p>EVC: {{ current_user.evc }}</p>
    <p>Energy Credit: {{ current_user.energy_credit }}</p>
    <p>Energy Bill: {{ current_user.energy_bill }}</p>

    <!-- make a div which has layout of flex and flex-direction: column with bootstrap -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ url_for('submit_meter_reading') }}">Submit Meter Reading</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ url_for('view_latest_bill') }}">View Latest Bill</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <!-- # top up  -->
                        <a href="{{ url_for('top_up') }}">Top Up</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- view_lastest_bill -->


</body>

</html>