<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Up</title>
</head>

<body>
    <h1>Top Up</h1>
    <form method="POST" action="{{ url_for('top_up') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.evc.label }} {{ form.evc(class="form-control") }}
            {% for error in form.evc.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</body>

</html>