{% extends "master.html" %}

{% block title %}Admin Registration{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center my-5">Admin Registration</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('admin_register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="username">Username:</label>
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    {{ form.password(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary")}}

            </form>
        </div>
    </div>
</div>

{% endblock %}