<!DOCTYPE html>
<html>

<head>
    <title>Admin Registration</title>
</head>

<body>
    <h1>Admin Registration</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('admin_register') }}">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.email }}
        <br>
        <label for="password">Password:</label>
        {{ form.password }}
        <br>
        <label for="confirm_password">Confirm Password:</label>
        {{ form.confirm_password }}
        <br>
        <input type="submit" value="Register">

    </form>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</body>

</html>