{% extends "master.html" %}

{% block title %}All Bills{% endblock %}

{% block body %}

{% include "admin_nav.html" %}

<div class="container mt-5">
    <h1>All bills</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger mt-3" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <table class="table mt-3">
        <thead>
            <tr>
                <th>Bill Amount</th>
                <th>Bill Date</th>
                <th>User Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_amount }}</td>
                <td>{{ bill.created_at }}</td>
                <td>{{ bill.user.email }}</td>
                <td>
                    <a href="{{ url_for('admin_view_bills', bill_id=bill.id) }}"
                        class="btn btn-secondary btn-sm">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}