{% extends "master.html" %}

{% block title %}Update Tariffs{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
{% include "admin_nav.html" %}
<h1 class="text-center">Update Tariffs</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form method="POST" class="container gap-3 d-flex flex-column justify-content-space-evenly">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.electricity_day_per_kWh.label(class="form-control-label")}}
        {{ form.electricity_day_per_kWh(class="form-control",value=0.15) }}
        {% if form.electricity_day_per_kWh.errors %}
        <div class="text-danger">
            {% for error in form.electricity_day_per_kWh.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.electricity_night_per_kWh.label(class="form-control-label")}}
        {{ form.electricity_night_per_kWh(class="form-control",value=0.10) }}
        {% if form.electricity_night_per_kWh.errors %}
        <div class="text-danger">
            {% for error in form.electricity_night_per_kWh.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.gas_per_kWh.label(class="form-control-label")}}
        {{ form.gas_per_kWh(class="form-control",value=0.05) }}
        {% if form.gas_per_kWh.errors %}
        <div class="text-danger">
            {% for error in form.gas_per_kWh.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.standing_charge_per_day.label(class="form-control-label")}}
        {{ form.standing_charge_per_day(class="form-control",value=0.10) }}
        {% if form.standing_charge_per_day.errors %}
        <div class="text-danger">
            {% for error in form.standing_charge_per_day.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group text-center">
        {{ form.submit(class="btn btn-danger", value="Update") }}
    </div>
</form>
{% endblock %}